/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galada&family=Hind+Siliguri:wght@400;600;700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200&display=swap');

:root {
    --white: #ffffff;
    --primary: #747474;
    --theme: #006266;
    --drkPrimary: #4b4b4b;
    --rgbaLhtPrimary: rgba(116, 116, 116, 0.2);
    --borderCorner: 5px;
    --lightColor: rgba(0, 0, 0, 0.5);
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 16px;
    overflow-y: auto;
    overflow-x: hidden;
    color: var(--drkPrimary);
    font-family: 'Source Sans Pro', sans-serif;
}